/* app css stylesheet */

#logo { height:150px; }
#add-header .row {position:relative;}
#app-header .nav-pills ul {height:150px; position:absolute; bottom: 0;}
#app-header .nav-pills li {width:20%; }
