/* app css stylesheet */

#logo { height:150px; }
#app-header .row {position:relative;}
#app-header .nav-pills {position:absolute; bottom: 0; width: 100%; right:20%;}
#app-header .nav-pills li {width:20%; }
div#tidbitCarousel .carousel-control {display:inline;}
.carousel-indicators { right:auto; left:20px; bottom:10px;}
